langchain==0.0.316
streamlit_chat
streamlit
openai
pandasai==1.5.19
accelerate
sentence_transformers
streamlit_chat
streamlit
faiss-cpu
tiktoken
huggingface-hub
pypdf
python-dotenv
replicate
docx2txt
text_generation
PyMuPDF
Pillow
pytesseract
pytest-shutil
pyxlsb
python-json-logger
Flask
Flask-Cors
openpyxl
chromadb
sqlite3 == 3.35.0
