streamlit_chat
streamlit
pandasai==1.5.19
accelerate
sentence_transformers
streamlit_chat
streamlit
faiss-cpu
tiktoken
huggingface-hub
pypdf
python-dotenv
replicate
docx2txt
text_generation
PyMuPDF
Pillow
pytesseract
pytest-shutil
pyxlsb
python-json-logger
Flask
Flask-Cors
openpyxl
chromadb==0.3.29
langchain==0.0.316
openai==0.28.1
streamlit-authenticator==0.1.5
plotly
